@font-face {
  font-family: 'MuseoSans_500';
  src: url('../fonts/MuseoSans_500.otf'); /* IE9 Compat Modes */
  src: 	local(''),
		url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
        url('../fonts/MuseoSans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}


body { 
  margin: 0em; 
  font-family: 'MuseoSans_500', Verdana, Geneva, Tahoma, sans-serif; 
  overflow-x: auto;
  overflow-y: hidden;
  min-width:380px;
  height: 100vh; 
  background: #d9f7ff;
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
}

span, div {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

video, .a-canvas {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  object-fit: cover !important;
  object-position: center !important;
  min-width: 340px;
} 

.hidden {
  display: none !important;
}

.scanline {
  animation: move 5s linear infinite !important;
}

#loading_overlay{
  background: #d9f7ff;
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(155,203,235,1) 100%);
  left: 0;
  top: 0;
  width: 101vw;
  height: 101vh;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  z-index:3;
}

.loading_indicator {
  max-width: 400px;
  max-height: 400px;
  width: 50%;
  height: 50%;
  padding-bottom: 20%;
}

.mindar-ui-overlay {
  padding-bottom: 20%;
}

.a-loader-title {
	display: none !important;
}

#onboarding {
  overflow: hidden;
  display: none;
  margin: 0 auto;
  height: 50%;
  width: 90%;
  position: relative;
  text-align: center;
  padding: 5%;
  z-index: 99;
}

#onboarding > span {
  z-index: 1;
  display: inline-block;
  width: 45%;
  height: 100%;
  filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.28));
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.28));
  /* drop-shadow: (3px 3px 2px rgba(0,0,0,0.28)); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.onboard1 {
  background-image: url('../assets/onboarding-white-1.png');
}

.onboard2 {
  background-image: url('../assets/onboarding-white-2.png');
}


#camera_indicator {
  position: relative;
  margin: 0 auto;
  width: 50%;
  top: 15%;
}

#camera_indicator > img {
  width: 100%; 
  height: auto;
  object-fit: contain;
  max-height: 40vh;
}

.footer_container {
  position: absolute;
  display: flex;
  background-image: url(../assets/footer_topper_simple.svg);
  width: 100%;
  height: 26%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  bottom: 0;
  left: 0;
  align-items: flex-end;
  min-height: 160px;
  min-width: 380px;
  z-index:3;
}

.item_holder {
  position: absolute;
  /* display: table; */
  bottom: 0;
  margin: 0 auto;
}

.tmp {
  margin: 0px;
  padding: 0px;
}

.title_parent {
  position: relative;
  display: inline-block;
  width: calc(50% - 2em);
  height: 100%;
  margin-left: 2em;
}

.title_parent > img {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-width: 230px;
}



.buttons {
  position: relative;
    display: flex;
    text-align: center;
    width: 30%;
    height: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.buttons > span {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin: 0.3em 0.5em 0.5em 0.5em;
  box-shadow: lightgrey 5px 5px;
}

.buttons > span > a > img, .buttons > span > img {
  width: 6vw;
  height: 6vw;
  max-height: 70px;
  max-width: 70px;
  min-width: 26px;
  min-height: 26px;
  padding: 10px;
}


.logo_parent {
  display: flex;
  align-items: center;
  text-align: center;
  width: calc(20% - 0.5em);
  height: 60%;
  flex-direction: row;
  justify-content: flex-end;
}

.logo_parent > a {
  display: contents;
}

.logo_parent > a > img, .logo_parent > img {
  position: relative;
  display: inline-block; 
  object-fit: contain;
  width: 49%; 
  height: auto;
  padding: 1%;
  max-height: 130px;
}

@media screen and (max-width: 975px){
  .buttons{
    width: 40%;
  }
}


@media screen and (orientation: portrait) and (max-width: 800px){

  .footer_container{
    height: 30%;
  }

  .title_parent {
    position: absolute;
    width: 65%;
    height: 29%;
}

  .title_parent > img{
    width: 65%;
    max-width: 65vw;
  }
  .buttons > span > img {
    padding: 5px;
    width: 7vw;
    height: 7vw;
  }

  .buttons {
    width: 70%;
    left: 12%;
    height: unset;
    bottom: 27%;
    align-items: baseline;
  }

  .logo_parent {
    width: 35%;
  }
}


@media screen and (orientation: portrait) and (max-width: 630px){

  .logo_parent{
    flex-direction: column;
  }

  .logo_parent > a > img {
    width: auto;
    height: 49%;
  }
}


/********************************/

.button {
  transition: all 0.3s;
}

.button:active {
  margin-top: 10px;
}


